html{
    box-sizing: border-box;
}
*,
*::after,
*::before{
    box-sizing: inherit;
}

a{
    text-decoration: none;
    color: inherit; /*Наследуем цвет*/
}

ul{
    list-style: none;
}

.container{
    max-width: 1240px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

body{
    font-family: "Open Sans", sans-serif;
    color: #151618;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;

}

.header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 142px;
    padding: 30px 0;
}

.logo{
    margin-bottom: 37px;
}

.menu_list{
    display: flex;
    align-items: center;
    gap: 0 65px;
    font-weight: 400;
    font-size: 18px;
}

.user_actions{
    display: flex;
    align-items: center;
    gap: 0 20px;
}
.user_action_item_search{
    margin-left: 80px;
}
